.header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  header {
    padding-top: 30px;
    .mid {
      .links {
        a {
          color: rgb(152, 162, 179);
          font-size: 18px;
          font-weight: 300;
          line-height: 28px;
        }

        .active {
          color: rgb(0, 0, 0) !important;
          font-weight: 700 !important;
          text-decoration-line: underline !important;
        }
      }
    }
    .end {
      .lng {
        --tw-ring-color: transparent !important;
        --tw-ring-offset-width: 0 !important;
      }
    }
  }
}

.menuSheet {
  padding-top: 70px !important;
  & > button {
    right: auto;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;

    background: rgb(228, 230, 233) !important;
    border-radius: 50% !important;
    opacity: 1 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none !important;
    border: none !important;
    --tw-ring-color: transparent !important;
    svg {
      width: 70%;
      height: 70%;
    }
  }
}

.nav-links {
  .active {
    color: rgb(0, 0, 0) !important;
    font-weight: 700 !important;
    text-decoration-line: underline !important;
  }
}
