header {
  top: 0;
  z-index: 1;
  .img {
    max-width: 145.43px;
    max-height: 62px;
    cursor: pointer;
  }

  .borderr-1 {
    border-radius: 100px 0px 0px 100px;
    background: rgb(255, 255, 255);
    /* Frame 2535408 */
    position: static;
    max-width: 72px;
    height: 42px;
    /* Автолейаут */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 18px 9px 18px;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 4px;
  }
  .border-1r {
    border-radius: 0px 100px 100px 0px !important;
    background: rgb(255, 255, 255);
  }

  .acc {
    /* Frame 2535407 */
    position: static;
    max-width: 176px;
    max-height: 42px;
    /* Автолейаут */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 18px 9px 18px;

    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .hvr {
    color: rgb(152, 162, 179);
  }
  .hvr:hover,
  .active {
    color: black;
    text-decoration: underline !important;
    transition: 0.6s;
  }
  .position {
    /* Frame 2535408 */
    position: static;
    max-width: 209px;
    max-height: 42px;
    /* Автолейаут */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 18px 9px 18px;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;

    border-radius: 10px;

    background: rgb(255, 255, 255);
  }

  .bordr {
    border: 1px dashed black;
    transform: rotate(90deg);
    transition: 1s;
  }
  .clz {
    width: 14.01px;
    height: 14.01px;
  }

  .szla {
    padding-top: 60px !important;
    border-top-left-radius: 40px;
  }

  .soazla {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* H5/Text */
    color: rgb(152, 162, 179);
    font-family: RF Tone;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
  }

  .tel {
    margin-top: 58px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: black;
    /* H4/Text */
    color: rgb(0, 0, 0);
    font-family: RF Tone;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0%;
  }
  .fain {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .fain2 {
    padding: 20px 11px;
    border: 1px solid rgb(152, 162, 179);
    border-radius: 50%;
    cursor: pointer;
  }
  .fain1 {
    display: flex;
    padding: 20px 13px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(152, 162, 179);
    border-radius: 50%;
    cursor: pointer;
  }
  button {
    outline: none !important;
    border: none !important;
  }
}

@media (max-width: 2000px) {
  header button {
    display: none;
  }
  header .borderr-1 button {
    display: flex;
  }
}
@media (max-width: 1100px) {
  header {
    .links {
      display: none;
    }
  }
  header .borderr-1 button {
    display: flex;
  }
  header button {
    display: flex !important;
  }
}
@media (max-width: 700px) {
  header {
    .links {
      display: none;
    }
    .voyti {
      display: none;
    }
    .borderr-1 {
      padding: 0.5rem;
      border-radius: 50% !important;
    }
    .acc {
      padding: 0.5rem;
      border-radius: 50% !important;
    }
    .img {
      max-width: 104px;
      max-height: 44px;
    }
  }
}
