.quality {
    margin-bottom: 120px;
}

@media (max-width: 1280px) {
    .quality {
        margin-bottom: 80px;
    }
}

@media (max-width: 1024px) {
    .quality {
        margin-bottom: 60px;
    }
}

@media (max-width: 640px) {
    .quality>.container {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .quality__heading {
        display: none;
    }

    .quality__list {
        display: none;
    }

    .quality__img {
        display: none;
    }

    .quality__right {
        width: 100%;
    }

    .swipe-card {
        flex-basis: 50%;
    }

    .bubbles {
        display: none;
    }
}

.quality__img:hover~.bubbles {
    display: flex;
}

.bubbles {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
}