.banner {
  background: url("/src/assets/imgs/everest2.png") #e2e8f2;
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100svh;
  position: relative;
  overflow: hidden;
  padding-top: 50px;
}
.banner .dot {
  background: rgb(28, 187, 238);
  border-radius: 50%;
  position: absolute;
  width: 14px;
  height: 14px;
}
.banner .dot1 {
  left: 360px;
  top: 175px;
}
.banner .dot2 {
  right: 354.2px;
  bottom: 165.1px;
  background: rgb(103, 194, 199);
}
.banner .multiDot {
  position: absolute;
  z-index: 6;
}
.banner .multiDot1 {
  right: 250px;
  top: 110px;
  transform: rotate(135deg);
}
.banner .multiDot2 {
  left: 250px;
  bottom: 65px;
}
.banner__btn {
  border-radius: 1000px !important;
  padding: 12px 38px 12px 38px !important;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(1.1);
  bottom: 9%;
  z-index: 6;
}
.banner .swiper {
  height: 60%;
  top: 47%;
  transform: translateY(-50%);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
  z-index: 3;
}
.banner .swiper .swiper-wrapper .swiper-slide {
  opacity: 0.45;
  display: flex;
  justify-content: center;
  align-items: center;
  scale: 0.7;
  transition: all 0.4s !important;
}
.banner .swiper .swiper-wrapper .swiper-slide img {
  transition: all 0.4s !important;
  height: 95%;
}
.banner .swiper .swiper-wrapper .swiper-slide button {
  opacity: 0;
  position: absolute;
  right: 15%;
  top: 17%;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
  background: rgb(255, 255, 255);
  padding: 0 10px;
  font-size: 25px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1cbbee;
  transition: all 0.6s !important;
}
.banner .swiper .swiper-wrapper .swiper-slide-active {
  opacity: 1;
  scale: 1;
}
.banner .swiper .swiper-wrapper .swiper-slide-active button {
  opacity: 1;
}
.banner .swiper .btns {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 55%;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}
.banner .swiper .btns button {
  pointer-events: all;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  opacity: 0.5;
}
.banner .swiper .btns button i {
  transform: scale(1.5);
}
.banner .swiper .btns button:hover {
  opacity: 1;
}
.banner .about-water {
  display: block;
  background: #1cbbee;
  border-radius: 50%;
  position: absolute;
  width: 0;
  height: 0;
  top: 300px;
  left: 61%;
  z-index: 2;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.2s;
}
.banner .about-water h1 {
  color: rgb(0, 0, 0);
  font-size: 32px;
  font-weight: 300;
  line-height: 42px;
  letter-spacing: 0%;
  width: 55%;
}
.banner .about-water ul {
  width: 55%;
  list-style: none;
  padding: 0;
}
.banner .about-water ul li {
  color: rgb(255, 255, 255) !important;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0%;
}
.banner .about-water ul li:before {
  float: left; /* Let the before pseudo element start from the leftmost position of each list item */
  width: 0;
  white-space: nowrap;
  content: ".....................................................";
  color: #fff;
}
.banner .about-water ul span:first-child {
  background: #1cbbee;
  padding-right: 0.2em;
}
.banner .about-water ul span + span {
  float: right; /* Align the count to the rightmost position of the list */
  background: #1cbbee;
  padding-left: 0.2em;
}
.banner .about-water button {
  opacity: 0;
  position: absolute;
  top: 0;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
  background: rgb(255, 255, 255);
  padding: 0 10px;
  font-size: 25px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1cbbee;
  transition: all 0.6s !important;
}
.banner .about-opened {
  width: 425px;
  height: 425px;
  left: 59%;
}
.banner .about-opened ~ .overlay {
  pointer-events: all;
}
.banner .about-opened ~ .swiper .swiper-wrapper .swiper-slide-active {
  transform: translateX(-125px) rotateY(15deg) !important;
}
.banner .about-opened ~ .swiper .swiper-wrapper .swiper-slide-active button {
  transform: rotateZ(45deg);
}
.banner .overlay {
  position: fixed;
  width: 100%;
  height: 120%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5176470588);
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s;
}
.banner .bottom-links {
  position: absolute;
  bottom: 7.5%;
  right: 2.5%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.banner .bottom-links a {
  width: 52px;
  height: 52px;
  background: #67c2c7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
}
.banner .bottom-links a img {
  transform: scale(1.1);
}
.banner .bottom-links a:nth-child(2) {
  background: #1cbbee;
}

@media (max-width: 1355px) {
  .banner .swiper .swiper-wrapper .swiper-slide button {
    top: 20%;
    right: 0;
  }
}
@media (max-width: 1255px) {
  .banner .swiper .swiper-wrapper .swiper-slide img {
    height: 80%;
  }
  .banner .swiper .swiper-wrapper .swiper-slide button {
    top: 21%;
    right: -5px;
    transform: scale(0.9);
  }
}
@media (max-width: 1100px) {
  .banner .swiper .swiper-wrapper .swiper-slide button {
    top: 21%;
    right: 40%;
    transform: scale(0.8);
  }
}
@media (max-width: 800px) {
  .banner .swiper .btns {
    width: 80%;
  }
  .banner .swiper .btns span {
    display: none;
  }
  .banner .swiper .swiper-wrapper .swiper-slide button {
    top: 21%;
    right: 35%;
    transform: scale(1.1);
  }
  .banner .about-opened {
    position: fixed;
    width: 425px;
    height: 425px;
    z-index: 11;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.25);
    overflow: visible;
  }
  .banner .about-opened ~ .overlay {
    opacity: 1;
  }
  .banner .about-opened button {
    opacity: 1;
    top: -5%;
    transform: rotateZ(-45deg);
  }
  .banner .about-opened ~ .swiper .swiper-wrapper .swiper-slide img {
    height: auto;
    width: 30px !important;
  }
  .banner .about-opened ~ .swiper .swiper-wrapper .swiper-slide button {
    top: -40px;
  }
  .banner .about-opened ~ .swiper .swiper-wrapper .swiper-slide-active {
    transform: translateX(-100px) !important;
  }
  .banner .about-opened ~ .swiper .swiper-wrapper .swiper-slide-active button {
    transform: rotateZ(45deg);
  }
}
@media (max-width: 415px) {
  .banner .swiper .swiper-wrapper .swiper-slide button {
    right: 25%;
  }
}/*# sourceMappingURL=Showcase.css.map */