@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "RF Tone";
  src: url("./assets/fonts/RFTone-ExtraBold.eot");
  src: local("RF Tone ExtraBold"), local("RFTone-ExtraBold"),
    url("./assets/fonts/RFTone-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/RFTone-ExtraBold.woff2") format("woff2"),
    url("./assets/fonts/RFTone-ExtraBold.woff") format("woff"),
    url("./assets/fonts/RFTone-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "RF Tone";
  src: url("./assets/fonts/RFTone-BoldItalic.eot");
  src: local("RF Tone Bold Italic"), local("RFTone-BoldItalic"),
    url("./assets/fonts/RFTone-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/RFTone-BoldItalic.woff2") format("woff2"),
    url("./assets/fonts/RFTone-BoldItalic.woff") format("woff"),
    url("./assets/fonts/RFTone-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "RF Tone";
  src: url("./assets/fonts/RFTone-UltraLight.eot");
  src: local("RF Tone UltraLight"), local("RFTone-UltraLight"),
    url("./assets/fonts/RFTone-UltraLight.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/RFTone-UltraLight.woff2") format("woff2"),
    url("./assets/fonts/RFTone-UltraLight.woff") format("woff"),
    url("./assets/fonts/RFTone-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "RF Tone";
  src: url("./assets/fonts/RFTone-Italic.eot");
  src: local("RF Tone Italic"), local("RFTone-Italic"),
    url("./assets/fonts/RFTone-Italic.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/RFTone-Italic.woff2") format("woff2"),
    url("./assets/fonts/RFTone-Italic.woff") format("woff"),
    url("./assets/fonts/RFTone-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "RF Tone";
  src: url("./assets/fonts/RFTone-SemiBoldItalic.eot");
  src: local("RF Tone SemiBold Italic"), local("RFTone-SemiBoldItalic"),
    url("./assets/fonts/RFTone-SemiBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/RFTone-SemiBoldItalic.woff2") format("woff2"),
    url("./assets/fonts/RFTone-SemiBoldItalic.woff") format("woff"),
    url("./assets/fonts/RFTone-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "RF Tone";
  src: url("./assets/fonts/RFTone-ExtraBoldItalic.eot");
  src: local("RF Tone ExtraBold Italic"), local("RFTone-ExtraBoldItalic"),
    url("./assets/fonts/RFTone-ExtraBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/RFTone-ExtraBoldItalic.woff2") format("woff2"),
    url("./assets/fonts/RFTone-ExtraBoldItalic.woff") format("woff"),
    url("./assets/fonts/RFTone-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "RF Tone";
  src: url("./assets/fonts/RFTone-Light.eot");
  src: local("RF Tone Light"), local("RFTone-Light"),
    url("./assets/fonts/RFTone-Light.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/RFTone-Light.woff2") format("woff2"),
    url("./assets/fonts/RFTone-Light.woff") format("woff"),
    url("./assets/fonts/RFTone-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "RF Tone";
  src: url("./assets/fonts/RFTone-ExtraLightItalic.eot");
  src: local("RF Tone ExtraLight Italic"), local("RFTone-ExtraLightItalic"),
    url("./assets/fonts/RFTone-ExtraLightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/RFTone-ExtraLightItalic.woff2") format("woff2"),
    url("./assets/fonts/RFTone-ExtraLightItalic.woff") format("woff"),
    url("./assets/fonts/RFTone-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "RF Tone";
  src: url("./assets/fonts/RFTone-ExtraLight.eot");
  src: local("RF Tone ExtraLight"), local("RFTone-ExtraLight"),
    url("./assets/fonts/RFTone-ExtraLight.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/RFTone-ExtraLight.woff2") format("woff2"),
    url("./assets/fonts/RFTone-ExtraLight.woff") format("woff"),
    url("./assets/fonts/RFTone-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "RF Tone";
  src: url("./assets/fonts/RFTone-Regular.eot");
  src: local("RF Tone Regular"), local("RFTone-Regular"),
    url("./assets/fonts/RFTone-Regular.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/RFTone-Regular.woff2") format("woff2"),
    url("./assets/fonts/RFTone-Regular.woff") format("woff"),
    url("./assets/fonts/RFTone-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RF Tone";
  src: url("./assets/fonts/RFTone-Bold.eot");
  src: local("RF Tone Bold"), local("RFTone-Bold"),
    url("./assets/fonts/RFTone-Bold.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/RFTone-Bold.woff2") format("woff2"),
    url("./assets/fonts/RFTone-Bold.woff") format("woff"),
    url("./assets/fonts/RFTone-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "RF Tone";
  src: url("./assets/fonts/RFTone-SemiBold.eot");
  src: local("RF Tone SemiBold"), local("RFTone-SemiBold"),
    url("./assets/fonts/RFTone-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/RFTone-SemiBold.woff2") format("woff2"),
    url("./assets/fonts/RFTone-SemiBold.woff") format("woff"),
    url("./assets/fonts/RFTone-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "RF Tone";
  src: url("./assets/fonts/RFTone-Black.eot");
  src: local("RF Tone Black"), local("RFTone-Black"),
    url("./assets/fonts/RFTone-Black.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/RFTone-Black.woff2") format("woff2"),
    url("./assets/fonts/RFTone-Black.woff") format("woff"),
    url("./assets/fonts/RFTone-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "RF Tone";
  src: url("./assets/fonts/RFTone-LightItalic.eot");
  src: local("RF Tone Light Italic"), local("RFTone-LightItalic"),
    url("./assets/fonts/RFTone-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/RFTone-LightItalic.woff2") format("woff2"),
    url("./assets/fonts/RFTone-LightItalic.woff") format("woff"),
    url("./assets/fonts/RFTone-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "RF Tone";
  src: url("./assets/fonts/RFTone-UltraLightItalic.eot");
  src: local("RF Tone UltraLight Italic"), local("RFTone-UltraLightItalic"),
    url("./assets/fonts/RFTone-UltraLightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/RFTone-UltraLightItalic.woff2") format("woff2"),
    url("./assets/fonts/RFTone-UltraLightItalic.woff") format("woff"),
    url("./assets/fonts/RFTone-UltraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "RF Tone";
  src: url("./assets/fonts/RFTone-BlackItalic.eot");
  src: local("RF Tone Black Italic"), local("RFTone-BlackItalic"),
    url("./assets/fonts/RFTone-BlackItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/RFTone-BlackItalic.woff2") format("woff2"),
    url("./assets/fonts/RFTone-BlackItalic.woff") format("woff"),
    url("./assets/fonts/RFTone-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

* {
  font-family: RF Tone;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.img {
  max-width: 145.43px;
  max-height: 62px;
  cursor: pointer;
}
header {
  max-width: 1280px;
  font-weight: 600;
}

.borderr-1 {
  border-radius: 100px 0px 0px 100px;
  background: rgb(255, 255, 255);
  /* Frame 2535408 */
  position: static;
  max-width: 72px;
  height: 42px;
  /* Автолейаут */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 18px 9px 18px;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 4px;
}
.border-1r {
  border-radius: 0px 100px 100px 0px !important;
  background: rgb(255, 255, 255);
}

.acc {
  /* Frame 2535407 */
  position: static;
  max-width: 176px;
  max-height: 42px;
  /* Автолейаут */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 18px 9px 18px;

  /* Inside Auto Layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 4px;
}

.hvr {
  color: rgb(152, 162, 179);
}
.hvr:hover {
  color: black;
  text-decoration: underline !important;
  transition: 0.6s;
}
.position {
  /* Frame 2535408 */
  position: static;
  max-width: 209px;
  max-height: 42px;
  /* Автолейаут */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 18px 9px 18px;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;

  border-radius: 10px;

  background: rgb(255, 255, 255);
}

.bordr {
  border: 1px dashed black;
  transform: rotate(90deg);
  transition: 1s;
}
.clz {
  width: 14.01px;
  height: 14.01px;
}

.szla {
  padding-top: 60px !important;
  border-top-left-radius: 40px;
}

.soazla {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* H5/Text */
  color: rgb(152, 162, 179);
  font-family: RF Tone;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.tel {
  margin-top: 58px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: black;
  /* H4/Text */
  color: rgb(0, 0, 0);
  font-family: RF Tone;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0%;
}
.fain {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.fain2 {
  padding: 20px 11px;
  border: 1px solid rgb(152, 162, 179);
  border-radius: 50%;
  cursor: pointer;
}
.fain1 {
  display: flex;
  padding: 20px 13px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(152, 162, 179);
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 2000px) {
  header button {
    display: none;
  }
  header .borderr-1 button {
    display: flex;
  }
}
@media (max-width: 1100px) {
  .links {
    display: none;
  }
  header .borderr-1 button {
    display: flex;
  }
  header button {
    display: flex !important;
  }
}
@media (max-width: 700px) {
  header {
    /* max-width: 342.96px; */
  }
  .links {
    display: none;
  }
  .voyti {
    display: none;
  }
  .borderr-1 {
    padding: 0.5rem;
    border-radius: 50% !important;
  }
  .acc {
    padding: 0.5rem;
    border-radius: 50% !important;
  }
  .img {
    max-width: 104px;
    max-height: 44px;
  }
}
