.slider {
  user-select: none;
  .swiper {
    .swiper-slide {
      border-radius: 40px !important;
      display: flex;
      padding: 50px;
      justify-content: space-between;
      background: linear-gradient(
        153.2deg,
        rgb(0, 117, 202) 1.576%,
        rgb(36, 111, 165) 61.867%
      );
      .txt {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        border-radius: 40px;
        align-items: start;
        p {
          color: rgb(255, 255, 255);
          font-family: RF Tone;
          font-size: 56px;
          font-weight: 300;
          line-height: 66px;
          letter-spacing: 0%;
          text-align: left;

          span {
            font-weight: 700;
          }
        }
        button {
          /* Узнать больше */
          border-radius: 1000px;
          background: rgb(255, 255, 255);
          /* Frame 2535415 */
          position: relative;
          width: 203px;
          height: 52px;
          /* Автолейаут */
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 12px 38px 12px 38px;
          color: rgb(0, 0, 0);
          font-family: RF Tone;
          font-size: 18px;
          font-weight: 300;
          line-height: 28px;
          letter-spacing: 0%;
          text-align: center;
        }
      }

      .img {
        position: relative;
        height: 100%;
        bottom: -50px;
        right: -50px;
      }
    }
  }
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  background: rgba(255, 255, 255, 0.048);
  opacity: 0.1;
  border-radius: 40px;
}

.swiper-pagination-bullet {
  background: white !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: #007aff !important;
}

@media (max-width: 1000px) {
  .slider {
    .swiper {
      .swiper-slide {
        border-radius: 25px;
        padding: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .txt {
          p {
            font-size: 40px;
            line-height: normal;
          }
        }
        .img {
          height: 300px;
          img {
            height: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 690px) {
  .slider {
    .swiper {
      .swiper-slide {
        padding: 30px 50px 40px 20px;
        overflow: hidden;
        .txt {
          p {
            font-size: 30px;
          }
          button {
            width: 150px;
            font-size: 16px;
            padding: 10px;
            height: 40px;
          }
        }
        .img {
          height: 180px;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .slider {
    .swiper {
      .swiper-slide {
        padding: 30px 50px 30px 20px;
        .txt {
          p {
            font-size: 20px;
            margin-bottom: 15px;
          }

          button {
            font-size: 16px;
            line-height: normal;
          }
        }
        .img {
          height: 140px;
          scale: 1.2;
          transform: translateY(-20px) translateX(-10px);
        }
      }
    }
  }
}
