.container {
  .swiper {
    .swiper-pagination {
      top: 470px;
    }

    .swiper-slide {
      border-radius: 40px !important;
      display: flex;
      padding: 50px;
      justify-content: space-between;
      background: linear-gradient(
        153.2deg,
        rgb(0, 117, 202) 1.576%,
        rgb(36, 111, 165) 61.867%
      );
      .txt {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        border-radius: 40px;
        align-items: start;
        p {
          color: rgb(255, 255, 255);
          font-family: RF Tone;
          font-size: 56px;
          font-weight: 300;
          line-height: 66px;
          letter-spacing: 0%;
          text-align: left;

          span {
            font-weight: 700;
          }
        }
        button {
          /* Узнать больше */
          border-radius: 1000px;
          background: rgb(255, 255, 255);
          /* Frame 2535415 */
          position: relative;
          width: 203px;
          height: 52px;
          /* Автолейаут */
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 12px 38px 12px 38px;
          color: rgb(0, 0, 0);
          font-family: RF Tone;
          font-size: 18px;
          font-weight: 300;
          line-height: 28px;
          letter-spacing: 0%;
          text-align: center;
        }
      }

      .img {
        position: relative;
        width: 100%;
        height: 100%;
        bottom: -50px;
        right: -50px;
      }
    }
  }
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  background: rgba(255, 255, 255, 0.048);
  opacity: 0.1;
  border-radius: 40px;
}

.swiper-pagination-bullet {
  background: white !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: #007aff !important;
}

@media (max-width: 1000px) {
  .container {
    .swiper {
      .swiper-pagination {
        top: 140px;
      }

      .swiper-slide {
        border-radius: 25px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        .txt {
            justify-content: center;
            align-items: center;
          p {
            font-size: 28px;
            line-height: normal;
          }

          button {
            width: 100%;
            margin-top: 5px;
          }
        }

        .img {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .container {
    .swiper {
        .swiper-pagination {
            top: 125px;
        }

      .swiper-slide {
        .txt {
          p {
            font-size: 16px;
            text-align: center;
            margin-bottom: 15px;
          }

          button {
            font-size: 16px;
            line-height: normal;
          }
        }
      }
    }
  }
}
